body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
} 


h1 {
    font-size: 50px;
}

.name-high-light {
    color: orange;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 100%;

}

.top-banner-bg{
    height: 500px;
    background-repeat: no-repeat;
    background-image: url(images/top-banner.png);
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(90deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700px;
}

.h2{
    font-size: 40px;
}

.dream-area-bg.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;

}
.dream-area-bg.half-width img{
    width: 100%;
    float: left;
}
.dream-area-bg{

    background-image: url(images/dream-bg.png);

}

.section{
    width: 500px;
    margin-top: 400px;
}